<!DOCTYPE html>
<html>
<head>
    <title>{% block meta_title %}{{ project.title }}{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ url('favicon.png') }}" />
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/pygments.css') }}">
    <link rel="stylesheet" href="{{ asset('css/docta.css') }}">
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
</head>
<body>
{% block header %}
<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            {% if project.logo %}
            <a class="navbar-brand logo" href="{{ url('') }}" style="background-image: url({{ asset(project.logo) }}); width: 55px;"></a>
            {% endif %}
            <a class="navbar-brand" href="{{ url('') }}">{{ project.title }}</a>
        </div>
    </div>
</nav>
{% endblock %}

<div class="container">
    <div class="row">
        <div class="col-lg-9">
            {% block content %}{% endblock %}
        </div>
        <div class="col-lg-3 contents">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
                </div>
                <div class="panel-body">
                    <ol class="nav nav-pills nav-stacked">
                        <li class="active">
                            <a href="">asfdsdf</a>
                            <ol>
                                <li><a href="">vsvsdfv</a></li>
                                <li><a href="">zzzz</a></li>
                            </ol>
                    </li>
                    <li><a href="">vvvv</a></li>
                    </ol>

                    {# project.input_tree #}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    {% block footer %}{% endblock %}
</div>
</body>
</html>
