<!DOCTYPE html>
<html>
<head>
    <title>{% block meta_title %}{{ project.title }}{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ url('favicon.png') }}" />
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/pygments.css') }}">
    <link rel="stylesheet" href="{{ asset('css/docta.css') }}">
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
</head>
<body>
{% block header %}
<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            {% if project.logo %}
            <a class="navbar-brand logo" href="{{ url('') }}" style="background-image: url({{ asset(project.logo) }}); width: 55px;"></a>
            {% endif %}
            <a class="navbar-brand" href="{{ url('') }}">{{ project.title }}</a>
        </div>
    </div>
</nav>
{% endblock %}

<div class="container">
    <div class="row">
        <div class="col-lg-9">
            {% block content %}{% endblock %}
        </div>
        <div class="col-lg-3 contents">
            {% for top in project.tree %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ top.title }}</h3>
                </div>
                <div class="panel-body">
                    {% if top.nav_path != chapter.nav_path %}
                        <a href="{{ top.get_url() }}">&uarr; return</a>
                    {% endif %}
                    {% if top.children %}
                    <ol class="nav nav-pills nav-stacked">
                        {% for ch1 in top.children %}
                        <li>
                            <a href="{{ ch1.get_url() }}">{{ ch1.title }}</a>
                            {% if ch1.children %}
                            <ol>
                                {% for ch2 in ch1.children %}
                                <li>
                                    <a href="{{ ch2.get_url() }}">{{ ch2.title }}</a>
                                </li>
                                {% endfor %}
                            </ol>
                            {% endif %}            
                        </li>
                        {% endfor %}
                    </ol>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="container">
    {% block footer %}{% endblock %}
</div>
</body>
</html>
