<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block meta_title %}{{ project.title }}{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ url('favicon.png') }}" />
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/pygments.css') }}">
    <link rel="stylesheet" href="{{ asset('css/docta.css') }}">
    {% if theme.icons == 'awesome' %}<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">{% endif %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
</head>
<body>

<a href="https://github.com/05bit/python-docta" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0; z-index: 1001" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Docta at GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>

{% block header %}
<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            {% if project.logo %}
            <a class="navbar-brand logo" href="{{ url('') }}" style="background-image: url({{ asset(project.logo) }}); width: 55px;"></a>
            {% endif %}
            <a class="navbar-brand" href="{{ url('') }}">{{ project.title }}</a>
        </div>

        {% if project.main_menu %}
        <div class="navbar-left" role="navigation">
            <ul class="nav navbar-nav">
                {% for item in project.main_menu %}
                <li {% if chapter_url(chapter).lstrip('/') == item.url.lstrip('/') %} class="active"{% endif %}>
                    <a href="{{ url(item.url) }}" {% if url_external(item.url) %}target="_blank"{% endif %}>{{ icon(item.icon) }}{{ item.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
</nav>
{% endblock %}

<div class="container">
    <div class="row">
        <div class="col-lg-9 main-content">
            {% block content %}{% endblock %}
        </div>
        <div class="col-lg-3">
            {% for top in project.tree %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked nav-tree">
                        <li {% if top == chapter %}class="active"{% endif %}>
                            <a href="{{ chapter_url(top) }}" class="index">{{ icon(top.icon) }}{{ top.title }}</a>
                            {% if top.children %}<hr>{% endif %}
                        </li>
                        {% if top.children %}
                            {% for ch1 in top.children %}
                            <li {% if ch1 == chapter %}class="active"{% endif %}>
                                <a href="{{ chapter_url(ch1) }}" {% if ch1.is_index and ch1.children %}class="index"{% endif %}>{{ icon(ch1.icon) }}{{ ch1.title }}</a>
                                {% if ch1.children %}
                                <ul class="nav nav-pills nav-stacked">
                                    {% for ch2 in ch1.children %}
                                    <li {% if ch2 == chapter %}class="active"{% endif %}>
                                        <a href="{{ chapter_url(ch2) }}">{{ ch2.title }}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                                {% endif %}            
                            </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="container footer">
    {% block footer %}
    <hr>
    <p class="text-muted">{{ project.copyright }}</p>
    {% endblock %}
</div>
</body>
</html>
